body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 20px 0;
}

/* Container 
=================== */
.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header 
=================== */
.header {
	width: 100%;
	height: 110px;
	position: absolute;
	top: 0;
	left: 0;
    background-color: #000;
}

.header__inner {
    margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 34px 95px;
}

.header__logo:first-child {
    margin-right: -80px;
}

.logo {
    padding-left: 28px;
    
}

/* Nav 
=================== */
.nav {
    display: flex;
    font-size: 13px;
	font-weight: 600;
    text-transform: uppercase;
    margin-right: 450px;
}

.nav__link {
    margin-right: 28px;
	color: #fff;
	text-decoration: none;
	opacity: 1;
	transition: opacity .1s linear;
}

.nav__link:last-child {
	margin-right: 0;
}

.nav__link:hover {
	opacity: .75;
}

.nav__last {
    display: flex;
    font-size: 13px;
	font-weight: 600;
    text-transform: uppercase;  
}

.nav__icon {
	color: #fff;
	text-decoration: none;
	opacity: 1;
	transition: opacity .1s linear;
}

.nav__icon:first-child {
	margin-right: 28px;
}

.nav__icon:last-child {
	margin-left: 10px;
}

.nav__icon:hover {
	opacity: .75;
}



/* Intro
=================== */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 110px;
    height: 745px;
    background: url(img/slider1.jpg);
    background-size: cover;
}

.intro__title {
    font-size: 80px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 55px;
    width: 60%;
}
    

.intro__inner {
    margin-top: 130px;
    margin-left: 140px;
}



/* Button
=================== */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 20px 31px;
    color: #fff;
    font-weight: 800;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
	cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: background .1s linear;
    margin-left: 385px;
}

.btn--black {
    background-color: #000;
}

.btn--black:hover {
    background-color: rgb(27, 27, 27);
}

/* Showboards
=================== */

.boards {
    display: flex;
    min-width: 0; 
    text-align: center;
    opacity: 0.4
}

.boards_slider{
    height: 600px;
    overflow: hidden; 
    min-width: 0;
}

.boards.slick-center {
    opacity: 1;  
}

.slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 122px;
    height: 227px;
}

.slick-arrow.slick-prev {
    border: none;
    left: 0;
    background: url(img/prev.png) 0 0 / 100% no-repeat;
}

.slick-arrow.slick-next{
    border: none;
    right: 0;
    background: url(img/next.png) 0 0 / 100% no-repeat;
}

.boards__img {
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
}

.boards__title {
    margin-top: 155px;
    font-size: 48px;
    font-weight: 800;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.boards__caption {
    margin-top: 38px;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

.boards__text {
    margin-top: 60px;
    font-size: 24px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    text-align: center;
}

/* Company
=================== */
.company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1000px;
    margin-top: 189px;
    background: url(img/company.jpg);
    background-size: cover;
}

.company__title {
    width: 50%;
    color: #fff;
    margin-top: 250px;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
}

.company__text {
    width: 63%;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding-top: 50px;
    line-height: 2;
}

.registered__icon {
fill: #fff;
width: 13px;
height: 13px;
position: absolute;
}

/* Features
=================== */
.features__title {
    margin: 130px 0;
    color: #000;
    font-size: 48px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
}

.features {
    margin-bottom: 143px;
}

.features__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.features__item {
    width: 25%;
    padding: 0 15px;
    position: relative;
	overflow: hidden;
}

.features__photo {
    max-height: 100%;
    display: block;
    max-width: 100%;
    margin-bottom: 24px;
}

.features__text {
    color: #000;
    font-size: 13px;
	font-weight: 800; 
}

/* Footer
=================== */
.footer {
    background-color: #000;
}

.footer__inner {
    padding: 70px 0 50px;
    display: flex;
    flex-wrap: wrap;
}

.footer__block {
    width: 25%;
    padding: 0 30px;
}

.footer__title {
    margin-bottom: 30px;
	font-size: 17px;
	font-weight: 800;
	color: #fff;
	text-transform: uppercase;
}

.footer__text {
    margin-bottom: 20px;
	font-size: 12px;
	font-weight: 400;
	color: #fff;
}

.email {
    display: flex;
    position: absolute;
    background-color: #c7c7c7;
    height: 48px;
}

.email__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    width: 60px;
    height: 48px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: background .1s linear;
}

.btn--white {
    background-color: #8d8c8c;
}

.btn--white:hover {
    background-color: rgb(209, 207, 207);
}

.email__text {
    border: none;
    outline: none;
    padding: 15px;
    color: #6c6c6c;
    font-size: 14px;
}

.social {
    display: flex;
    margin-top: 160px;
}

.social__item {
    display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	margin-right: 20px;
}

.social__icon {
    display: block;
    fill: #fff;
    height: 20px;
    transition: fill .1s linear;
}

.social__icon:hover {
	fill: rgb(209, 207, 207); 
}



/* Copyright
=================== */
.copyright {
    height: 80px;
	background-color: #000;
}

.copyright__text {
    display: flex;
	font-size: 14px;
	color: #fff;
    font-weight: 400;
}

.region {
    margin-left: 550px;
}

.flag {
    margin-right: 10px;
    height: 12px;
    width: 15px;
}

